<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Rooms</title>
  </head>
  <style>
    #myDIV {
      height: 75vh;
      /* width: 250px; */
      overflow: auto;
      background: coral;
    }

    #content {
      /* margin: 500px; */
      height: 800px;
      /* width: 2000px; */
      background: coral;
      position: relative;
    }
  </style>

  <body>
    <script>
      let a = {
        REQUEST_METHOD: "GET",
        QUERY_STRING: "next=/admin/",
        SCRIPT_NAME: "",
        PATH_INFO: "/admin/login/",
        "wsgi.multithread": True,
        "wsgi.multiprocess": True,
        REMOTE_ADDR: "127.0.0.1",
        REMOTE_HOST: "127.0.0.1",
        REMOTE_PORT: 6962,
        SERVER_NAME: "127.0.0.1",
        SERVER_PORT: "8000",
        HTTP_HOST: "stem-tooth-java-tiffany.trycloudflare.com",
        HTTP_USER_AGENT:
          "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.75 Safari/537.36 Edg/100.0.1185.36",
        HTTP_ACCEPT:
          "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
        HTTP_ACCEPT_ENCODING: "gzip",
        HTTP_ACCEPT_LANGUAGE: "en-US,en;q=0.9",
        HTTP_CDN_LOOP: "cloudflare",
        HTTP_CF_CONNECTING_IP: "27.147.243.172",
        HTTP_CF_IPCOUNTRY: "BD",
        HTTP_CF_RAY: "6fb6c4ffae695500-SIN",
        HTTP_CF_VISITOR: '{"scheme":"https"}',
        HTTP_CF_WARP_TAG_ID: "1ec1bf0e-c901-4ff3-8a72-7b2de2e92910",
        HTTP_CONNECTION: "keep-alive",
        HTTP_COOKIE:
          "csrftoken=xgCTpZT8syxP1Np6anT7rRZ5HDQ78sD5lSzcW65weqHKdoHZ8SAg6gXZlMxdTToZ",
        HTTP_DNT: "1",
        HTTP_SEC_CH_UA:
          '" Not A;Brand";v="99", "Chromium";v="100", "Microsoft Edge";v="100"',
        HTTP_SEC_CH_UA_MOBILE: "?0",
        HTTP_SEC_CH_UA_PLATFORM: '"Windows"',
        HTTP_SEC_FETCH_DEST: "document",
        HTTP_SEC_FETCH_MODE: "navigate",
        HTTP_SEC_FETCH_SITE: "none",
        HTTP_SEC_FETCH_USER: "?1",
        HTTP_UPGRADE_INSECURE_REQUESTS: "1",
        HTTP_X_FORWARDED_FOR: "27.147.243.172",
        HTTP_X_FORWARDED_PROTO: "https",
        CSRF_COOKIE:
          "xgCTpZT8syxP1Np6anT7rRZ5HDQ78sD5lSzcW65weqHKdoHZ8SAg6gXZlMxdTToZ",
      };


      
      let b = {
        REQUEST_METHOD: "GET",
        QUERY_STRING: "",
        SCRIPT_NAME: "",
        PATH_INFO: "/admin/",
        "wsgi.multithread": True,
        "wsgi.multiprocess": True,
        REMOTE_ADDR: "127.0.0.1",
        REMOTE_HOST: "127.0.0.1",
        REMOTE_PORT: 6963,
        SERVER_NAME: "127.0.0.1",
        SERVER_PORT: "8000",
        HTTP_HOST: "127.0.0.1:8000",
        HTTP_CONNECTION: "keep-alive",
        HTTP_SEC_CH_UA:
          '" Not A;Brand";v="99", "Chromium";v="100", "Microsoft Edge";v="100"',
        HTTP_SEC_CH_UA_MOBILE: "?0",
        HTTP_SEC_CH_UA_PLATFORM: '"Windows"',
        HTTP_DNT: "1",
        HTTP_UPGRADE_INSECURE_REQUESTS: "1",
        HTTP_USER_AGENT:
          "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.75 Safari/537.36 Edg/100.0.1185.36",
        HTTP_ACCEPT:
          "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
        HTTP_SEC_FETCH_SITE: "none",
        HTTP_SEC_FETCH_MODE: "navigate",
        HTTP_SEC_FETCH_USER: "?1",
        HTTP_SEC_FETCH_DEST: "document",
        HTTP_ACCEPT_ENCODING: "gzip, deflate, br",
        HTTP_ACCEPT_LANGUAGE: "en-US,en;q=0.9",
        HTTP_COOKIE:
          "csrftoken=2RNCa6z85C7peLHITlsLOtidjE1mKNbPZli7BRWW1JEVIZLjrD6NuX1ZsBXSvfiv; sessionid=yc9luznbzh9uv0nqfn95n6cdot4o4u57",
        CSRF_COOKIE:
          "2RNCa6z85C7peLHITlsLOtidjE1mKNbPZli7BRWW1JEVIZLjrD6NuX1ZsBXSvfiv",
      };
    </script>
  </body>
</html>
