{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Messenger++</title>

    <!-- from external -->
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script> -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}" /> -->

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link
      rel="stylesheet prefetch"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css"
    />
    <!-- for offline -->
    <!-- <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" /> -->

    <link rel="stylesheet" href="{% static 'css/css_main.css' %}" />
  </head>

  <body>
    <!-- 

A concept for a chat interface. 

Try writing a new message! :)


Follow me here:
Twitter: https://twitter.com/thatguyemil
Codepen: https://codepen.io/emilcarlsson/
Website: http://emilcarlsson.se/

-->

    <div id="frame">
      <div id="sidepanel">
        <div id="profile">
          <div class="wrap">
            {% if user.is_authenticated %}

            <!-- src="https://ui-avatars.com/api/?background=random&size=720&name={{ user.first_name }}+{{ user.last_name }}" -->
            <img
              id="profile-img"
              src="{% static 'images/user-profile.png' %}"
              class="online"
              alt=""
            />
            <p>{{ user.first_name }} {{ user.last_name }}</p>

            {% else %}

            <img
              id="profile-img"
              src="{% static 'images/user-profile.png' %}"
              class="online"
              alt=""
            />
            <p>{{ user }}</p>

            {% endif %}

            <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
            <div id="status-options">
              <ul>
                <li id="status-online" class="active">
                  <span class="status-circle"></span>
                  <p>Online</p>
                </li>
                <li id="status-away">
                  <span class="status-circle"></span>
                  <p>Away</p>
                </li>
                <li id="status-busy">
                  <span class="status-circle"></span>
                  <p>Busy</p>
                </li>
                <li id="status-offline">
                  <span class="status-circle"></span>
                  <p>Offline</p>
                </li>
              </ul>
            </div>
            <div id="expanded">
              <label for="twitter"
                ><i class="fa fa-facebook fa-fw" aria-hidden="true"></i
              ></label>
              <input name="twitter" type="text" value="mikeross" />
              <label for="twitter"
                ><i class="fa fa-twitter fa-fw" aria-hidden="true"></i
              ></label>
              <input name="twitter" type="text" value="ross81" />
              <label for="twitter"
                ><i class="fa fa-instagram fa-fw" aria-hidden="true"></i
              ></label>
              <input name="twitter" type="text" value="mike.ross" />
            </div>
          </div>
        </div>
        <div id="search">
          <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
          <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
          <ul>
            
          </ul>
        </div>
        <div id="bottom-bar">
          <button id="addcontact">
            <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
            <span>Add contact</span>
          </button>
          <button id="settings">
            <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
            <span>Settings</span>
          </button>
        </div>
      </div>
      <div class="content">
        <div class="contact-profile">
          <img src="{% static 'images/user-profile.png' %}" alt="" />
          <p>Hasinur Rahman</p>
          <small
            id="screen"
            style="font-size: 14px; float: right; line-height: 13px"
            >screen
          </small>

          <div class="social-media" style="display: none">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </div>
        <div class="messages">
          <ul>
            <!-- <li class="replies">
              <img
                src="https://ui-avatars.com/api/?background=random&size=720&name=Harvey+Specter"
                alt=""
              />
              <p>
                Excuses don't win championships.<br />
                <small>12:10pm</small>
              </p>
            </li>
            <li class="sent">
              <img
                src="{% static 'images/Facebook_default_male_avatar.jpg' %}"
                alt=""
              />
              <p>
                Oh yeah, did Michael Jordan tell you that?<br />
                <small>12:15pm</small>
              </p>
            </li>
            <li class="replies">
              <img
                src="https://ui-avatars.com/api/?background=random&size=720&name=Harvey+Specter"
                alt=""
              />
              <p>
                No, I told him that.<br />
                <small>12:20pm</small>
              </p>
            </li>
            <li class="sent">
              <img
                src="{% static 'images/Facebook_default_male_avatar.jpg' %}"
                alt=""
              />
              <p>
                What are you talking about? You do what they say or they shoot
                you.
                <br />
                <small>12:25pm</small>
              </p>
            </li>
            <li class="replies" style="overflow-wrap: break-word">
              <img
                src="https://ui-avatars.com/api/?background=random&size=720&name=Harvey+Specter"
                alt=""
              />
              <p>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                <br />
                <small>12:30pm</small>
              </p>
            </li> -->
          </ul>
          <div class="message-input">
            <div class="wrap">
              <input type="text" placeholder="Write your message..." />
              <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
              <button class="submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
    <script>
      // $("#screen").html($(window).width() + " x " + $(document).width());


      // RUNNING PYTHON LOOP INSIDE JS COMMENT TO NAT SHOW ERROR WARNING
      // DOES NOT EFFECT THE LOOP
      // show all chats in sidepanel
      // {% for chat in allChats %}
      // console.log(`{{chat.name | safe }}`);
      showChatInSidepanel(
        "{{chat.name | safe }}",
        "{{chat.userName | safe }}",
        "{{chat.lastMessage | safe }}",
        "{{chat.sentBy | safe }}",
        "{{chat.date | safe }}"
      );
      // {% endfor %}

      // screen size
      $("#screen").html(
        `<p>${$(window).width()} x ${$(window).height()}</p><br><p>${$(
          document).width()} x ${$(document).height()}</p>`
      );

      // make current chat active
      $('#{{ChatUsername}}').closest('.contact').addClass("active");  




      // CHANGE chats
      $("#frame #sidepanel #contacts ul li.contact").click(function () {
        // let clickUser = $(".usernameOFchat", this).text();
        let clickUser = $(".usernameOFchat", this).attr('id');
        // console.log(clickUser);
        if (!$(this).hasClass("active")) {
          window.location.pathname = "/chat/" + clickUser + "/";
        }
      });

      $("#frame .content .message-input .wrap input").focus();

      // show sidepanel in mobile view
      $("#settings").click(function () {
        if ($("#sidepanel").hasClass("expanded")) {
          // console.log('hasClass');
          $("#sidepanel").removeClass("expanded");
          $("#sidepanel").css({ "min-width": "58px" });
          $("#frame #sidepanel #profile").css({
            width: "100%",
            background: "#32465a",
            padding: "5px 0 0px 0",
            "margin-top": "0px",
          });
          $("#frame #sidepanel #profile .wrap").css({
            width: "100%",
            height: "55px",
          });
          $("#frame #sidepanel #profile .wrap img").css({ width: "54px" });
          $("#frame #sidepanel #profile .wrap p").css({ display: "none" });
          $("#frame #sidepanel #contacts ul li.contact .wrap img").css({
            "margin-right": "0px",
            width: "50px",
          });
          $("#frame #sidepanel #profile .wrap #status-options").css({
            width: "58px",
          });
          $("#search").css({ display: "none" });
          $("#frame #sidepanel #contacts ul li.contact").css({
            padding: "6px 0 46px 8px",
          });
          $(".content").css({ display: "block" });
          $(".meta").css({ display: "none" });
        } else {
          // console.log('NOT hasClass');
          $("#sidepanel").addClass("expanded");
          // $('#sidepanel').css({ 'min-width': '-webkit-fill-available'});
          $("#sidepanel").css({ "min-width": "100%" });
          $("#frame #sidepanel #profile").css({
            width: "80%",
            background: "revert",
            padding: "5px 0 13px 0",
            "margin-top": "10px",
          });
          $("#frame #sidepanel #profile .wrap").css({
            width: "95%",
            height: "71px",
          });
          $("#frame #sidepanel #profile .wrap img").css({ width: "70px" });
          $("#frame #sidepanel #profile .wrap p").css({ display: "block" });
          $("#frame #sidepanel #contacts ul li.contact .wrap img").css({
            "margin-right": "10px",
            width: "80px",
          });
          $("#frame #sidepanel #profile .wrap #status-options").css({
            width: "150px",
          });
          $("#search").css({ display: "block" });
          $("#frame #sidepanel #contacts ul li.contact").css({
            padding: "10px 0 15px 0",
          });
          $(".content").css({ display: "none" });
          $(".meta").css({ display: "block" }); // chat in preview
        }
      });

      // Changing Online status
      $("#status-online").click(function(){
        $.ajax({
          type:"GET",
          // dataType: "json",
          url:"/UserStatus/Available/",
          // data:{
            //   post_id: catid,
            // },
            success: function(data){
              // alert("i got data now i will parse it as i want to display it");
              alert(data);
            }
            
          })
        });
      // Changing Online status
      $("#status-busy").click(function(){
        $.ajax({
          type:"GET",
          // dataType: "json",
          url:"/UserStatus/NotAvailable/",
          // data:{
          //   post_id: catid,
          // },
          success: function(data){
            // alert("i got data now i will parse it as i want to display it");
            alert(data);
          }

        })
      });


      // User asking Volunteers for chat
      $("#addcontact").click(function(){
        $.ajax({
          type:"GET",
          // dataType: "json",
          url:"/NewChatWithVolunteer/",
          // data:{
          //   post_id: catid,
          // },
          success: function(data){
            // alert("i got data now i will parse it as i want to display it");
            alert(data);
          }

        })
      });

      // *** up custom codes *** up custom codes *** up custom codes *** up custom codes *** up custom codes ***
      // *** up custom codes *** up custom codes *** up custom codes *** up custom codes *** up custom codes ***
      // *** up custom codes *** up custom codes *** up custom codes *** up custom codes *** up custom codes ***

      $("#profile-img").click(function () {
        $("#status-options").toggleClass("active");
      });

      $(".expand-button").click(function () {
        $("#profile").toggleClass("expanded");
        $("#contacts").toggleClass("expanded");
      });

      $("#status-options ul li").click(function () {
        $("#profile-img").removeClass();
        $("#status-online").removeClass("active");
        $("#status-away").removeClass("active");
        $("#status-busy").removeClass("active");
        $("#status-offline").removeClass("active");
        $(this).addClass("active");

        if ($("#status-online").hasClass("active")) {
          $("#profile-img").addClass("online");
        } else if ($("#status-away").hasClass("active")) {
          $("#profile-img").addClass("away");
        } else if ($("#status-busy").hasClass("active")) {
          $("#profile-img").addClass("busy");
        } else if ($("#status-offline").hasClass("active")) {
          $("#profile-img").addClass("offline");
        } else {
          $("#profile-img").removeClass();
        }

        $("#status-options").removeClass("active");
      });

      function showChatInSidepanel(name, userName, lastMessage, sentBy, date) {
        const timeDiff = Math.round(
          (new Date().getTime() - new Date(date).getTime()) / 60000
          // in minute
        );
        // only time for less then 1 day
        // only date for more then 1 day
        let timeStamp =
          timeDiff < 60 * 24
            ? new Date(date).toLocaleTimeString()
            : new Date(date).toDateString();
        let msg =
          sentBy === "{{user}}"
            ? "<span>You: </span>" + lastMessage
            : lastMessage;
        $(
          `<li class="contact">
            <div class="wrap">
              <span class="contact-status online"></span>
              <img src="{% static 'images/user-profile.png' %}" alt="" />
              <div class="meta">
                <p class='usernameOFchat' id="${userName}" hidden></p>
                <p class="name">${name} <small>${timeStamp}</small></p>
                <p class="preview">${msg}</p>
              </div>
            </div>
          </li>`
        ).appendTo($("#contacts ul"));
      }

      function findTime(timeStamp) {
        let prefix = "";
        const timeDiff = Math.round(
          (new Date().getTime() - new Date(timeStamp).getTime()) / 60000
          // in minute
        );
        if (timeDiff < 1) {
          // less than one minute ago
          prefix = "just now...";
        } else if (timeDiff < 60 && timeDiff >= 1) {
          // less than sixty minutes ago
          prefix = `${timeDiff} minutes ago`;
        } else if (timeDiff < 24 * 60 && timeDiff >= 60) {
          // less than 24 hours ago
          prefix = `${Math.round(timeDiff / 60)} hours ago`;
        } else if (timeDiff < 7 * 24 * 60 && timeDiff >= 24 * 60) {
          // less than 7 days ago
          prefix = `${Math.round(timeDiff / (60 * 24))} days ago`;
        } else {
          // prefix = `${new Date(timeStamp)}`;
          prefix =
            new Date(timeStamp).toLocaleTimeString() +
            "<br>" +
            new Date(timeStamp).toDateString();
          // '7:29:22 PM'
          // 'Fri Apr 01 2022'
        }
        return prefix;
      }

      function printMessage(sender, message, sendTime) {
        if ($.trim(message) == "") {
          return false;
        }

        let className = sender === "{{user}}" ? "sent" : "replies";
        // console.log("{{user}}")
        // console.log(className)

        $(
          `<li class= ${className} style="overflow-wrap: break-word">       
            <img src="{% static 'images/user-profile.png' %}" alt="">
            <p>
              ${message}<br> 
              <small>
            ${sendTime} 
           </small>
           </p>
           </li>`
        ).appendTo($(".messages ul"));

        if (sender == "{{user}}") {
          $(".contact.active .preview").html("<span>You: </span>" + message);
        } else {
          $(".contact.active .preview").html(message);
        }

        $(".messages").animate(
          {
            scrollTop:
              $(".messages").prop("scrollHeight") - $(".messages").height(),
          },
          0
        );
      }
















      
      // {% if ChatID != None %}
      // let roomName = "{{ ChatUsername }}";
      let roomName = "{{ ChatID }}";
      // let roomName = "zubair";
      // WebSocket connection
      let chatSocket;
      if (window.location.protocol == "https:") {
        // checks If HTTPs or not
        // chatSocket = new WebSocket(
        chatSocket = new ReconnectingWebSocket(
          "wss://" + window.location.host + "/ws/chat/" + roomName + "/"
        );
      } else {
        chatSocket = new ReconnectingWebSocket(
          "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
        );
      }
      // {% endif %}

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        // console.log(e);
        // console.log(data);
        let sendtime = findTime(data.date);
        // console.log(sendtime);

        printMessage(data.sender, data.message, sendtime);
      };

      chatSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
        console.error(e.data);
      };

      function sendMessage() {
        sender = "{{user}}";
        message = $(".message-input input").val();
        if ($.trim(message) == "") {
          return false;
        }

        // printMessage(sender, message);
        $(".message-input input").val(null);

        // sending message into websocket
        chatSocket.send(
          JSON.stringify({
            sender: sender,
            message: message,
          })
        );

        // $(".messages").animate({ scrollTop: $(".messages").prop("scrollHeight") - $(".messages").height() }, "fast");
      }

      $(".submit").click(function () {
        sendMessage();
      });

      //   $(window).on("keydown", function (e) {
      $(".message-input").on("keyup", function (e) {
        if (e.which == 13) {
          sendMessage();
          return false;
        }
      });
    </script>
  </body>
</html>
