{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Volunteers</title>

  <!-- from external -->
  <script src="{% static 'chat/js/jquery.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'chat/css/bootstrap.min.css' %}" />
  <script src="{% static 'chat/js/bootstrap.min.js' %}"></script>

  <link rel="stylesheet prefetch"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css" />
  <!-- for offline -->

  <link rel="stylesheet" href="{% static 'chat/css/css_main.css' %}" />
</head>

<body>

  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">

          <img id="profile-img" src="{% static 'chat/images/user-profile.png' %}" class="online" alt="" />
          <p>{{ user.first_name }} {{ user.last_name }}</p>


        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search contacts..." />
      </div>
      <div id="contacts">
        <ul>

          {% include "chat/includes/sidepanel-chats.html" %}

        </ul>
      </div>
      <div id="bottom-bar">
        <button id="addcontact">
          <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
          <span>Add contact</span>
        </button>
        <button id="settings">
          <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
          <span>Settings</span>
        </button>
      </div>
    </div>



    
    <div class="content">
      <div class="contact-profile">
        <img src="{% static 'chat/images/user-profile.png' %}" alt="" />
        <p> {{UserName}} </p>
        <small id="screen" style="font-size: 14px; float: right; line-height: 13px">screen
        </small>

      </div>
      <div class="messages">
        <ul>
          {% block messages %}
          {% endblock messages %}
        </ul>
        <div class="message-input">
          <div class="wrap">
            <input type="text" placeholder="Write your message..." />
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <button class="submit">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="{% static 'chat/js/reconnecting-websocket.js' %}"></script>
  <script src="{% static 'chat/js/room.js' %}"></script>
  <script>


    // make current chat active
    $('#{{ChatUsername}}').closest('.contact').addClass("active");



    // CHANGE chats
    $("#frame #sidepanel #contacts ul li.contact").click(function () {
      // let clickUser = $(".usernameOFchat", this).text();
      let clickUser = $(".usernameOFchat", this).attr('id');
      // console.log(clickUser);
      if (!$(this).hasClass("active")) {
        window.location.pathname = "/chat/" + clickUser + "/";
      }
    });

    $("#frame .content .message-input .wrap input").focus();

    // show sidepanel in mobile view
    $("#settings").click(function () {
      if ($("#sidepanel").hasClass("expanded")) {
        // console.log('hasClass');
        $("#sidepanel").removeClass("expanded");
        $("#sidepanel").css({ "min-width": "58px" });
        $("#frame #sidepanel #profile").css({
          width: "100%",
          background: "#32465a",
          padding: "5px 0 0px 0",
          "margin-top": "0px",
        });
        $("#frame #sidepanel #profile .wrap").css({
          width: "100%",
          height: "55px",
        });
        $("#frame #sidepanel #profile .wrap img").css({ width: "54px" });
        $("#frame #sidepanel #profile .wrap p").css({ display: "none" });
        $("#frame #sidepanel #contacts ul li.contact .wrap img").css({
          "margin-right": "0px",
          width: "50px",
        });
        $("#frame #sidepanel #profile .wrap #status-options").css({
          width: "58px",
        });
        $("#search").css({ display: "none" });
        $("#frame #sidepanel #contacts ul li.contact").css({
          padding: "6px 0 46px 8px",
        });
        $(".content").css({ display: "block" });
        $(".meta").css({ display: "none" });
      } else {
        // console.log('NOT hasClass');
        $("#sidepanel").addClass("expanded");
        // $('#sidepanel').css({ 'min-width': '-webkit-fill-available'});
        $("#sidepanel").css({ "min-width": "100%" });
        $("#frame #sidepanel #profile").css({
          width: "80%",
          background: "revert",
          padding: "5px 0 13px 0",
          "margin-top": "10px",
        });
        $("#frame #sidepanel #profile .wrap").css({
          width: "95%",
          height: "71px",
        });
        $("#frame #sidepanel #profile .wrap img").css({ width: "70px" });
        $("#frame #sidepanel #profile .wrap p").css({ display: "block" });
        $("#frame #sidepanel #contacts ul li.contact .wrap img").css({
          "margin-right": "10px",
          width: "80px",
        });
        $("#frame #sidepanel #profile .wrap #status-options").css({
          width: "150px",
        });
        $("#search").css({ display: "block" });
        $("#frame #sidepanel #contacts ul li.contact").css({
          padding: "10px 0 15px 0",
        });
        $(".content").css({ display: "none" });
        $(".meta").css({ display: "block" }); // chat in preview
      }
    });



    // *** up custom codes *** up custom codes *** up custom codes *** up custom codes *** up custom codes ***
    // *** up custom codes *** up custom codes *** up custom codes *** up custom codes *** up custom codes ***
    // *** up custom codes *** up custom codes *** up custom codes *** up custom codes *** up custom codes ***


    function findTime(timeStamp) {
      let prefix = "";
      const timeDiff = Math.round(
        (new Date().getTime() - new Date(timeStamp).getTime()) / 60000
        // in minute
      );
      if (timeDiff < 1) {
        // less than one minute ago
        prefix = "just now...";
      } else if (timeDiff < 60 && timeDiff >= 1) {
        // less than sixty minutes ago
        prefix = `${timeDiff} minutes ago`;
      } else if (timeDiff < 24 * 60 && timeDiff >= 60) {
        // less than 24 hours ago
        prefix = `${Math.round(timeDiff / 60)} hours ago`;
      } else if (timeDiff < 7 * 24 * 60 && timeDiff >= 24 * 60) {
        // less than 7 days ago
        prefix = `${Math.round(timeDiff / (60 * 24))} days ago`;
      } else {
        // prefix = `${new Date(timeStamp)}`;
        prefix =
          new Date(timeStamp).toLocaleTimeString() +
          "<br>" +
          new Date(timeStamp).toDateString();
        // '7:29:22 PM'
        // 'Fri Apr 01 2022'
      }
      return prefix;
    }

    function printMessage(sender, message, sendTime) {
      if ($.trim(message) == "") {
        return false;
      }

      let className = sender === "volunteer" ? "sent" : "replies";
      // console.log(className)

      $(
        `<li class= ${className} style="overflow-wrap: break-word">       
            <img src="{% static 'chat/images/user-profile.png' %}" alt="">
            <p>
              ${message}<br> 
              <small>
            ${sendTime} 
           </small>
           </p>
           </li>`
      ).appendTo($(".messages ul"));

      if (sender == "volunteer") {
        $(".contact.active .preview").html("<span>You: </span>" + message);
      } else {
        $(".contact.active .preview").html(message);
      }

      $(".messages").animate(
        {
          scrollTop:
            $(".messages").prop("scrollHeight") - $(".messages").height(),
        },
        0
      );
    }








    // {% if ChatUsername != None %}
    let roomName = "{{ ChatUsername }}";

    // WebSocket connection
    let chatSocket;
    if (window.location.protocol == "https:") {
      // checks If HTTPs or not
      chatSocket = new WebSocket(
        // chatSocket = new ReconnectingWebSocket(
        "wss://" + window.location.host + "/ws/chat/" + roomName + "/"
      );
    } else {
      chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
      );
    }
    // {% endif %}

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);

      let sendtime = findTime(data.date);


      printMessage(data.sender, data.message, sendtime);
    };

    chatSocket.onclose = function (e) {
      console.error("Chat socket closed unexpectedly");
      console.error(e.data);
    };

    function sendMessage() {
      sender = "volunteer";
      message = $(".message-input input").val();
      if ($.trim(message) == "") {
        return false;
      }

      $(".message-input input").val(null);

      // sending message into websocket
      chatSocket.send(
        JSON.stringify({
          sender: sender,
          message: message,
        })
      );

    }

    $(".submit").click(function () {
      sendMessage();
    });

    //   $(window).on("keydown", function (e) {
    $(".message-input").on("keyup", function (e) {
      if (e.which == 13) {
        sendMessage();
        return false;
      }
    });
  </script>
</body>

</html>