{% extends "webpages/layout.html" %}

{% load static %}



{% block NavExtra %}

<div class="container-xxl bg-info hero-header">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="text-white mb-4 animated zoomIn">
          We Care About Your Mental Health
        </h1>
        <p class="text-white pb-3 animated zoomIn">
          Mental Health is an important fact in this new era. Our Goal
          is to make concern regarding Mental Health Support System for
          the general people who are not careful or shy to talk about
          their mental issue.
        </p>
        <a href="" class="btn btn-outline-light rounded-pill border-2 py-3 px-5 animated slideInRight">Learn
          More</a>
      </div>
      <div class="col-lg-6 text-center text-lg-start">
        <img class="img-fluid animated zoomIn" src="{% static 'images/hero3.png' %}" alt="" />
      </div>
    </div>
  </div>
</div>
</div>
<!-- Navbar & Hero End -->
{% endblock NavExtra %}



{% block body %}

<!-- About Start -->
<div class="container-xxl py-6">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
        <img class="img-fluid" src="{% static 'images/about.png' %}" />
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="d-inline-block border rounded-pill text-info px-4 mb-3">
          About Us
        </div>
        <h2 class="mb-4">Our first goal is to...</h2>
        <p class="mb-4">
          make people aware of this Mental Health. There is a saying we
          hear most of the time, “Mental Health Matters” we have to make
          our people believe in this. Suicides claimed 14,436 lives
          between March last year and February 2021, compared to 8,462
          COVID-19-related deaths during that time, so it’s high time for
          all of us to be concerned about this cause. In our everyday life
          almost everyone feels like I’m done at this moment, we will
          built this system to give that end moment support by listening
          to their problem and try to give them proper solution.
        </p>

        <a class="btn btn-info rounded-pill py-3 px-5 mt-2" href="">Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Service Start -->
<div class="container-xxl py-6">
  <div class="container">
    <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
      <div class="d-inline-block border rounded-pill text-info px-4 mb-3">
        Our Visions
      </div>
      <h2 class="mb-5">We Work For Social Welfare</h2>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded h-100">
          <div class="p-5">
            <h5 class="mb-3">Public Research</h5>
            <span>We have made an Public Research how they gonna participate
              in our process. Or they do really care for public health. We
              was inspired that many of them was positive about this
              platform.</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded h-100">
          <div class="p-5">
            <h5 class="mb-3">Stretagic Planning</h5>
            <span>This project may bring some good vibe in our life and save
              many people by just listening to them. When we will build
              this project there will be so many flaws like security
              issue, misuse of this platform hope our team will handle all
              this issues.</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="service-item rounded h-100">
          <div class="p-5">
            <h5 class="mb-3">Mental Health Analysis</h5>
            <span>First of all we will find out what kind of basic mental
              health issues in general people faces. Then based on those
              issues we have to build a support team who are interest to
              volunteer work at first phase.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Features Start -->
<div class="container-xxl py-6">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="d-inline-block border rounded-pill text-info px-4 mb-3">
          Features
        </div>
        <h2 class="mb-4">Why People Choose Us?</h2>
        <p>
          Our first goal is to make people aware of this Mental Health.
          There is a saying we hear most of the time, “Mental Health
          Matters” we have to make our people believe in this. Suicides
          claimed 14,436 lives between March last year and February 2021,
          compared to 8,462 COVID-19-related deaths during that time, so
          it’s high time for all of us to be concerned about this cause.
          In our everyday life almost everyone feels like I’m done at this
          moment, we will built this system to give that end moment
          support by listening to their problem and try to give them
          proper solution.
        </p>

        <a class="btn btn-info rounded-pill py-3 px-5 mt-2" href="">Read More</a>
      </div>
      <div class="col-lg-7">
        <div class="row g-5">
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.6s">
            <div class="d-flex align-items-center mb-3">
              <div class="flex-shrink-0 btn-square bg-info rounded-circle me-3">
                <i class="fa fa-headset text-white"></i>
              </div>
              <h6 class="mb-0">24/7 Support System</h6>
            </div>
            <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos
              diam dolor</span>
          </div>
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
            <div class="d-flex align-items-center mb-3">
              <div class="flex-shrink-0 btn-square bg-info rounded-circle me-3">
                <i class="fa fa-award text-white"></i>
              </div>
              <h6 class="mb-0">Trusted Volunteers</h6>
            </div>
            <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos
              diam dolor</span>
          </div>
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
            <div class="d-flex align-items-center mb-3">
              <div class="flex-shrink-0 btn-square bg-info rounded-circle me-3">
                <i class="fa fa-smile-beam text-white"></i>
              </div>
              <h6 class="mb-0">100% Happy Users</h6>
            </div>
            <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos
              diam dolor</span>
          </div>
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="d-flex align-items-center mb-3">
              <div class="flex-shrink-0 btn-square bg-info rounded-circle me-3">
                <i class="fa fa-user-tie text-white"></i>
              </div>
              <h6 class="mb-0">Professional Doctors</h6>
            </div>
            <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos
              diam dolor</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->

<!-- Client Start -->
<div class="container-xxl bg-info my-6 py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="owl-carousel client-carousel">
      <a href="#"><img class="img-fluid" src="{% static 'images/testimonial/logo01.png' %}" alt="" /></a>
      <a href="#"><img class="img-fluid" src="{% static 'images/testimonial/logo02.png' %}" alt="" /></a>
      <a href="#"><img class="img-fluid" src="{% static 'images/testimonial/logo03.png' %}" alt="" /></a>
    </div>
  </div>
</div>
<!-- Client End -->

<!-- Testimonial Start -->
<div class="container-xxl py-6">
  <div class="container">
    <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
      <div class="d-inline-block border rounded-pill text-info px-4 mb-3">
        Testimonial
      </div>
      <h2 class="mb-5">What Our Users Say!</h2>
    </div>
    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
      <div class="testimonial-item rounded p-4">
        <i class="fa fa-quote-left fa-2x text-info mb-3"></i>
        <p>
          We are happy to get a system like this, we will use and
          recommend this to others
        </p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'images/user-profile.png' %}" />
          <div class="ps-3">
            <h6 class="mb-1">User01 Name</h6>
            <small>Profession</small>
          </div>
        </div>
      </div>
      <div class="testimonial-item rounded p-4">
        <i class="fa fa-quote-left fa-2x text-info mb-3"></i>
        <p>
          We are happy to get a system like this, we will use and
          recommend this to others
        </p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'images/user-profile.png' %}" />
          <div class="ps-3">
            <h6 class="mb-1">User02 Name</h6>
            <small>Profession</small>
          </div>
        </div>
      </div>
      <div class="testimonial-item rounded p-4">
        <i class="fa fa-quote-left fa-2x text-info mb-3"></i>
        <p>
          We are happy to get a system like this, we will use and
          recommend this to others
        </p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'images/user-profile.png' %}" />
          <div class="ps-3">
            <h6 class="mb-1">User03 Name</h6>
            <small>Profession</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->

<!-- Team Start -->
<div class="container-xxl py-6">
  <div class="container">
    <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
      <div class="d-inline-block border rounded-pill text-info px-4 mb-3">
        Our Team
      </div>
      <h2 class="mb-5">Meet Our Team Members</h2>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <h5>Prof. Dr. Md. Monirul Islam</h5>
          <h6>Advisor</h6>
          <p class="mb-4">Professor, CSE, IIUC</p>
          <img class="img-fluid rounded-circle w-100 mb-4" src="{% static 'images/team/monir_sir.jpg' %}" alt="" />
          <div class="d-flex justify-content-center">
            <a class="btn btn-square text-info bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square text-info bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square text-info bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item">
          <h5>Md. Zubair Ahmed</h5>
          <p class="mb-4">Student, Dept. of CSE, IIUC</p>
          <img class="img-fluid rounded-circle w-100 mb-4" src="{% static 'images/team/zubair.jpg' %}" alt="" />
          <div class="d-flex justify-content-center">
            <a class="btn btn-square text-info bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square text-info bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square text-info bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item">
          <h5>Md. Hasinur Rahman</h5>
          <p class="mb-4">Student, Dept. of CSE, IIUC</p>
          <img class="img-fluid rounded-circle w-100 mb-4" src="{% static 'images/team/halim.jpg' %}" alt="" />
          <div class="d-flex justify-content-center">
            <a class="btn btn-square text-info bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square text-info bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square text-info bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->


{% endblock body %}
